/* Container for the main page*/
.main-page {
  position: relative;
  display: grid;
  grid-template-columns: [page-left sidebar-left] 250px [sidebar-right feed-left] auto [feed-right page-right];
  grid-template-areas: "sidebar feed";
  background-color: bisque;
}

/* Toolbar */
.main-page-toolbar {
  grid-area: "toolbar";
}

.sidebar-container {
  position: relative;
  height: 100%;
}

.sidebar {
  background: white;
  width: 100%;
  overflow-x: visible;
}

.sidebar-open-button {
  margin-top: 20px;
  margin-left: 30px;
  cursor: pointer;
  display: inline-block;
}

.sidebar-content {
  width: 100%;
}

.sidebar-title {
  background-color: teal;
  font-size: 20px;
  color: white;
  cursor: pointer;

  height: 60px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-title-text {
  padding-right: 10px;
}

.sidebar-title-icon {
  padding-left: 10px;
  padding-top: 5px;
}

.sidebar-nav {
}
