.blog-tile {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 200px;
    width: 500px;
    background-color: white;
    border: 2px solid gray;
    grid-template-columns:[picture-left] 200px [picture-right text-left] 1fr [text-right];
    grid-template-rows: [title-top] 50px [title-bottom body-top] 1fr [body-bottom];
    grid-template-areas: "picture" "blog-title",
                         "picture" "blog-body";
}

.blog-tile .no-picture {
    grid-template-columns:[text-left] 1fr [text-right];
    grid-template-rows: [title-top] 50px [title-bottom body-top] 1fr [body-bottom];
    grid-template-areas: "blog-title",
                         "blog-body";
}